body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.MuiTableRow-root:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.MuiTableCell-root {
  padding: 16px !important;
}

.MuiButton-root {
  text-transform: none !important;
}

.MuiPaper-root {
  border-radius: 8px !important;
}
